*
{
	box-sizing: border-box;
	font-family: arial;
}
header
{
	width: 100%;
	height: 70px;
	/*border: 1px solid black;*/
	position: fixed;
	left: 0;
	top:0;
	padding: 10px;	
	box-shadow: 5px 5px 5px grey;		
	background: linear-gradient(to top right, #00996b 42%, #666699 85%);
	z-index: 1;
}
header h1 
{
	color: white;
	font-size: 27pt;
	margin-top: 10px;
	margin-left: 15px;	
}
header ul 
{
	display: inline;
	list-style-type:none;
}
header ul li
{
	
	float: right;
	position: relative;
	right: 15px;
	top: 10px;
}
header ul li#first
{
	float: left;
	margin-top: -10px;
}
header ul li#second
{
	cursor: pointer;
	color: white;
	font-size: 25pt;
	/*background-color: red;*/
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
}
header ul li#second:hover
{
	background-color: white;
	color: #00996b;
	box-shadow: 5px 5px 5px grey;
}
header ul li#third img
{
	width: 40px;
	height: auto;
	border: 2px solid white;
	border-radius: 50%;
	float: right;
	position: relative;
	margin-right: 25px;
}
header ul li#fourth
{
	/*border: 1px solid black;*/	
	margin-right: 40px;
}
header ul li#fourth input[type="text"]
{
	width: 150px;
	height: 40px;
	border: 1px solid white;
	border-radius: 5px 0px 0px 5px;
	position: relative;
	float: left;
	padding: 10px;
	font-size: 13pt;
	outline: none;
}

header ul li#fourth button
{
	cursor:pointer;
	position: relative;
	width: 60px;
	height: 40px;
	float: left;
	border: 1px solid white;
	border-radius: 0px 5px 5px 0px;
	
	font-size: 11pt;
	text-align: center;
	font-weight: normal;
	background-color: #00996b;
	color: white;
}
header ul li#fourth button:hover
{
	background-color: white;
	color: #00996b;
	border: 1px solid #00996b;
	/*border-width: 1px 1px 1px 0px;*/


}
header ul li#fourth button:hover #stext
{

	border: 1px solid #00996b;
}