div#firDiv
{
	height: 500px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 60px;
	position: relative;
	float: left;
	left: 0;
	right: 0;
/*	background-color: #00802b;*/
	z-index: -1;
}
#firDiv h1
{
	text-align: center;
	/*font-family: Montserrat;*/
	font-weight: normal;
	color: white;
	font-size: 80pt;
	margin-top: 80px;
}
#firDiv h2
{
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 30px;
	margin-top: -45px;
}
#firDiv a
{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #00996b;
	font-size: 13pt;
	border: 1px solid #00996b;
	text-decoration: none;
	text-align: center;
	background-color: white;
	padding: 14px 25px;
	width: 12%;

}
#firDiv a:hover,#firDIv a:visited
{
	background-color: #00996b;
	color: white;
	box-shadow: 1px 2px 5px grey;
}

#slideshow { 
  margin: 50px auto; 
  position: absolute; 
  width: 100%;
  height: 100%; 
  left: 0;
  right: 0;
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  z-index: -1;
  /*background-color: red;*/
}
img
{
	width: 100%;
	height:auto;
	position: fixed;
	left:0;
	right:;
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}
div#mainDiv
{
	background: linear-gradient(to bottom right, #ffffff 0%, #ccffcc 100%);
	width: 100%;
	height: auto;
	position: absolute;
	float: left;
	z-index: 0;
	left: 0;
	right: 0;
	margin-top: 45%;
	border-top: 2px dashed #00996b;
	padding-top: 100px;
}
.collections
{
	width: 400px;
	height: 300px;
	/*border: 1px solid grey; */
	position: relative;
	float: left;
	margin: 50px 24px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	z-index: -1;
	transition-duration: .3s;
}

.collections img
{
	width: 100%;
	height: auto;
	position: relative;
}
.collections p
{
	text-align:center;
}
.collections:hover
{
	  width: 410px;
	  margin: 50px 15px;
	  transition-duration: .5s;

}
.collections #over{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f5f5f0;
}

.collections:hover #over {
  opacity: .8;	
  box-shadow: 3px 3px 5px grey,-3px -3px 5px grey;

}
div#info
{
	position: relative;
	right: 0;
	left: 0;
	width: 100%;
	height: 800px;
	background-color: white;
	border-top: 2px dashed #ccffcc;
	float: left;

}

div#imgslide
{
	position: relative;
	width: 400px;
	height: 550px;
	/*border: 1px solid black;*/
	box-shadow: 5px 5px 5px grey;
	margin: 100px 0px 0px 100px;
	/*background-image: url('Images/slide/2 (1).jpg');*/

}
#imgslide a, #inforight a
{
	
	position: absolute;
	cursor: pointer;	
	cursor: pointer;
	width: 80px;
	height: 75px;
/*	background-color: #999966;*/
	text-align: center;
	top: 40%;
	float: left;
	padding: 10px;
	/*border: 1px solid grey;*/
	/*border-radius: 3px;*/
	/*color: white;*/
	/*opacity: .8;*/
	pointer-events: auto;
	/*z-index: 1;*/
	color: white;
  	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
 	font-size: 30pt;
}
#imgslide a:hover ,#inforight a:hover
{
	opacity:1;
	background-color: rgba(0,0,0,0.8)
}
#imgslide a#left, #inforight a#left
{
	left: -15px;
	border-radius: 5px 0px 0px 5px;
}
#imgslide a#right, #inforight a#right 	
{
	right: -15px;
	border-radius: 0px 5px 5px 0px
	/*margin-top: -110px;*/
}
#imgslide img
{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 0;
	margin-top: -210px;
}
#imgslide hr
{
	position: relative;
	top: 90%;
	border: 1px solid grey;

}
#imgslide .dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb ;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
  position: relative;
  top: 91%;
  left: 8%;
}
#info hr#self
{
	width: 4px;
	box-shadow: 5px 5px 5px grey;
	border-radius: 5px; 
	border: 1px; 
	background-color: #00996b;
	margin-top:-470px;
	margin-left: 600px;
	height: 400px;
}
#info #inforight
{
	width: 600px;
	height: 550px;
	/*border: 1px solid grey;*/
	box-shadow: 2px 2px 5px grey,-2px -2px 5px grey;
	background-color: #e0e0d1;
	position: relative;
	float: right;
	margin-top: -490px;
	margin-right: 50px;
}
#inforight a
{
	opacity: .7;
}
.rightinfos
{
	/*border: 1px solid black;*/
	display: block;
	height: auto;
	width: 100%;
	position: absolute;
	top: 30%;
	padding: 10px;
	box-shadow: 1px 0px 10px grey;
	 	
}
.rightinfos h1
{
	color: grey;
}
.collect
{
	width: 100%;
	height: 1100px;
	/*border: 1px solid black;*/
	position: relative;
	right: 0;
	left: 0;
	float: left;
	margin-top: 100px;
	background-color: #cccc99;
	box-shadow: 3px 3px 10px grey;
}
.collect h1
{
	text-align: center;
	font-size: 50pt;
	color: white;
	font-family: cursive;
}
.collect  hr
{
	width: 40%;
	background-color: black;
	border: 1px solid white;
}
.collect .collects
{
	width: 300px;
	height: 300px;
	/*border: 1px solid black;*/
	border-radius: 50%;
	background-color: white;
	position: relative;
	left: 5%;
	top: 10%;
	right: 5%;
	margin-right: 150px;
	float: left;
	margin-bottom: 100px;
	box-shadow: 5px 5px 15px grey;
	transition-duration: .3s;
}
.collect #coll3, #coll6
{
	margin-right: 0;
}
.collect .collects:hover
{
	width: 350px;
	height: 350px;
	margin-right: 100px;
	margin-bottom: 0px;
	transition-duration: .4s;
}
.collects img
{
	position: relative;
	width: 100%;
	height: 90%;
	border: 1px solid black;
	border-radius: 50%;
	z-index: 0;
}
.collects h1
{
	color: black;
	font-size: 30pt;
	margin-top: -10px;
	font-family: monospace;
}
.collects hr
{

	width: 40%;
	margin-top: 210px;
	background-color: black;
	border: 1px solid black;
}
.collect #coll1
{

	background-image: url('Images/slide/2 (1).jpg');
	background-position: top;
}
footer
{
	width: 100%;
	height: 500px;
	padding: 50px;
	/*margin-top: 2100px;*/
	background-color: white;
	position: absolute;
	float: left;
	bottom: -3200px;
	left: 0px;
	right: 0px;
	z-index: 1;
	display: block;
	margin-top: 2100px;
	box-shadow: 5px 5px 15px grey;
}
footer p#copyright
{
	position: absolute;
	text-align: center;
	bottom: 10px;
	left: 40%;
	font-size: 10pt;
}
footer div
{
	position: relative;
	float: left;
	margin-left: 20px;
}
footer div ul
{
	list-style: none;
}
footer div ul li
{
	margin: 10px;
}
.head
{
	color: green;
	font-size: 15pt;
	margin: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}
div#four p
{
	margin-left: 10px;
}
#four input,#four textarea
{
	width: 400px;
	margin: 10px 0;
	border: 0px;
	border-bottom: 1px solid black;
	outline: none;
}
#four input[placeholder], #four textarea[placeholder]
{
	font-size: 13pt	;
}
#four textarea
{
	height: 70px;	
}
#four button
{
	float: right;
	width: 90px;
	height: 40px;
	text-align: center;
	border: 1px solid #00996b;
	border-radius: 5px;
	font-size: 13pt;
	color: #00996b;
	background-color: white;
	transition-duration: .3s;
}
#four button:hover
{
	background-color: #00996b;
	color: white;
	box-shadow: 3px 3px 5px grey;
	transition-duration: .5s;
}